#docDisplay{padding: 20px;
	background-color: #FFFFFF;
	width: 800px;
	line-height:200%;}
body{font-family: sans-serif;
	font-name: "Lucida Grande";}
.mentionStyle{font-size: 18px;
	font-weight: bold;
	opacity: 1;
	cursor: pointer;}	
.textStyle{font-size: 16px;}
.inactive{opacity: 0.3;}
.guess {background-color: #DDDDDD;}
.guess.selected {background-color: #CCCCCC;}
.incorrect {border-bottom: 2px solid red;}
#key{padding: 20px;}
.on.exterior{
	opacity: 1;
}
